body {
  background-color: #121617;
  color: #f1e7d1;
}

a {
  color: #ffffff;
}

a:hover,
button:hover {
  color: #ffffff;
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: rgba(38, 24, 14, 0.88);
  padding: 1rem;
}

#pageheader {
  background-color: #1d1914;
  min-height: auto;
  padding: 0.25rem;
}

#logo {
  background-image: url(Images/Adobe\ Express\ -\ file.jpg);
  width: 6.25rem;
  height: 6.25rem;
  border: 1px solid none;
}

#pageheader .container {
  min-height: auto;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageheader nav ul li {
  border: 2px solid rgba(255, 184, 92, 0.4);
  padding: 1rem;
  background-color: #3d2d20;
  margin: 2px;
}

#pageheader nav ul li:hover {
  background-color: #8c6239;
}

#media {
  background-color: #17120f;
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/Axl_Low.jpg);
  background-size: cover;
  aspect-ratio: 16 / 9;
}

#career {
  background-color: #493421;
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: #5b432c;
  min-height: 10rem;
  padding: 1rem;
}

#semester1 {
  background-color: #392b23;
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: #6e5437;
  min-height: 10rem;
  padding: 1rem;
}

#worksamples {
  background-color: #493421;
  min-height: 10rem;
  padding: 1rem;
}

#worksamples ul {
  list-style-type: none;
}

#worksamples i {
  color: #ddb56d;
}

#certificates {
  background-color: #392b23;
  min-height: 10rem;
  padding: 1rem;
}

#certificates ul {
  list-style-type: none;
}

#certificates i {
  color: #ddb56d;
}

#pagefooter {
  background-color: #241d18;
  min-height: auto;
  padding: 1rem;
}

#pagefooter .container {
  min-height: auto;
  text-align: center;
}

#subfooter {
  background-color: #2f251e;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  border: 5px solid #3d2f24;
  background-color: #0d0a08;
  display: block;
  margin: auto;
}

@media screen and (min-width: 850px) {
  #pageheader nav ul {
    background-color: none;
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: #2f2418;
  }

  #career {
    background-color: #392b23;
  }
}
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: #493421;
  }

  #career {
    background-color: #5e432d;
  }
}
